{% extends "beats/layout.html" %}
{% load static %}

{% block title %}
    My Beats | BeatMaker
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="mt-4 mb-4">My Beats</h1>
    </div>

    {% if page_error %}
        <div class="alert alert-danger mt-4 mx-auto">
            {{ page_error }}
        </div>
    {% else %}
        {% if beats %}
            {% if success_message %}
                <div class="alert alert-primary mt-4 mx-auto">
                    {{ success_message|safe }}
                </div>
            {% endif %}

            {% if error_message %}
                <div class="alert alert-danger mt-4 mx-auto">
                    {{ error_message }}
                </div>
            {% endif %}
        {% endif %}

        {% for beat in beats %}
            <div class="mb-3 w-100 p-3 saved-beat more-curved">
                <h2 class="m-1">{{ beat.name }}</h2>
                <p class="m-1 my-2 text-muted">{{ beat.timestamp|date:"M. d, Y, g:i:s a" }}</p>

                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <span>
                        <i class="fa-solid fa-music"></i>
                        <h5 class="d-inline-block ms-1 my-auto mb-3">{{ beat.tempo }} BPM</h5>
                    </span>
                    <span>
                        <a class="btn btn-primary m-1" href="{% url 'create' %}?n={{ beat.name }}{% if beat.pattern != "0000000000000000" %}&p={{ beat.pattern }}{% endif %}{% if beat.tempo != 120 %}&t={{ beat.tempo }}{% endif %}{% if beat.metronome_on %}&m=true{% endif %}">Load Beat</a>
                        <button class="btn btn-success m-1 copy-button">Copy Link</button>
                        <form method="post" class="d-inline-block delete-form">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ beat.id }}">
                            <button class="btn btn-danger m-1">Delete</button>
                        </form>
                    </span>
                </div>
            </div>
        {% endfor %}

        {% if not beats %}
            <p class="text-muted text-center">
                You have no beats saved. Try <a href="{% url 'create' %}">creating one!</a>
            </p>

            {% if success_message %}
                <div class="alert alert-primary mt-4 mx-auto">
                    {{ success_message|safe }}
                </div>
            {% endif %}

            {% if error_message %}
                <div class="alert alert-danger mt-4 mx-auto">
                    {{ error_message }}
                </div>
            {% endif %}
        {% else %}
            <nav class="mt-4">
                <ul class="pagination">
                    {% if has_previous_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'beats' page|add:-1 %}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                    {% endif %}

                    {% for i in page_range %}
                        {% if i == page %}
                            <li class="page-item active" aria-current="page">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                                <a class="page-link" href="{% url 'beats' i %}">{{ i }}</a>
                            </li>
                    {% endfor %}

                    {% if has_next_page %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'beats' page|add:1 %}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        <script src="{% static 'beats/beats.js' %}"></script>
    {% endif %}
{% endblock %}
